:root {
    --primary: #000000;
    --secondary: #383838;
    --background: #949494;
    --white: #ffffff;
    --black: #000000;

    --accent: #1f002b;
    
    --primary-text: #ffffff;
    --secondary-text: #ffffff;
    --accent-text: #ffffff;
}